<!DOCTYPE html>
<html lang="zh-CN">
<%- include('./components/header') %>
<body>
<div class="contain">
    <%- include('./components/body-header') %>
    <div class="map">
    </div>
    <div class="address">
        <h1><img src="../assets/gps.png" alt="">地址：北京市朝阳区红军营南路甲3号NET大厦6层</h1>
        <div class="info">
            <div>
                <h6>客服热线</h6>
                <p>010-84997885</p>
            </div>
            <div>
                <h6>投诉与建议</h6>
                <p>service@limikeji.com</p>
            </div>
        </div>
        <div class="info">
            <div>
                <h6>服务时间</h6>
                <p>9:00-21:00周一至周日（节假日以公告服务时间为准）</p>
            </div>
        </div>
    </div>
    <%- include('./components/footer') %>
</div>
</body>
</html>
