<!DOCTYPE html>
<html lang="zh-CN">
<%- include('../components/header') %>
<body>
<div class="contain">
    <!--header-->
    <div class="topbox">
        <div class="topmid">
            <div class="topleft">
                <a href="/"><span class="toplogo"></span></a>狸米数学 </div>
            <span class="topRphone">服务热线：010-84997885</span>
        </div>
    </div>
    <div class="fram_main">
        <div class="form_box">
            <ul>
                <li><span>学生姓名</span><input type="text" onkeydown="if(event.keyCode==32) return false" placeholder="请输入学生姓名" maxlength="16" id="username" class="username" />
                    <img src="../assets/closeput.png" class="closeput">
                </li>
                <p class="lipmes"><i class="yesp"></i><span>学生姓名最少输入两个字符</span></p>
                <li><span>手机号</span><input type="text" placeholder="请输入手机号" id="useriphone" disabled class="useriphone" /></li><!--disabled-->
                <p class="lipmes"><i class="yesp"></i><span>请输入正确的手机号</span></p>
                <li><span>验证码</span><input type="text" maxlength="4" class="codesms" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9]+/,'');}).call(this)"   disabled="disabled" placeholder="请输入短信验证码" />
                    <a class="getvercode">获取验证码</a>
                </li>
                <p class="lipmes"><i class="errp"></i><span>请输入正确验证码</span></p>

                <div class="form_check"><label><input type="checkbox" checked="checked" class="chekbox">我已阅读并同意<a href="agreement.html" target="_blank">《狸米数学用户协议》</a></label></div>
                <div class="form_btn">立即预约</div>
            </ul>
        </div>
    </div>
</div>
<%- include('../components/footer') %>
</body>
</html>
