<!DOCTYPE html>
<html lang="zh-CN">
<%- include('../components/header') %>
<body>
<div class="cldetailcom">
    <%- include('../components/body-header') %>
    <div class="banner-content">
        <img src="http://zmp-attachment.oss-cn-beijing.aliyuncs.com/6059e50a2643756b49ffb0ee96a58037.png" alt=""
             class="viewimg">
        <div class="grades">
            <p class="grade-name">【2018暑秋】三年级直播课程</p>
            <p class="grade-time">
                <!--<span class="grade_tl"><i></i></span>-->
                <span class="grade_tr">暑期：07月25日-08月05日</span>
                <span class="grade_tr">秋季：09月08日-12月22日</span>

            </p>
            <div class="grade-teach">
                <div class="grateachone">
                    <img class="teacher_avatar" src="../assets/touxiang-01.png">
                    <p class="grateachp1 teacher_label">授课教师</p>
                    <p class="grateachp2 teacher_name">教师1</p>
                </div>
                <div class="grateachone">
                    <img class="bzr_avatar" src="../assets/touxiang-02.png">
                    <p class="grateachp1 bzr_label">班主任</p>
                    <p class="grateachp2 bzr_name">班主任一</p>
                </div>
            </div>
            <div class="gramoney">
                <span class="gradeRp1">￥2111</span> <span class="gradeRp2">原价1245</span>
            </div>
            <p class="gradebtn">
                <a href="/auth/login" class="grade_bm">立即报名</a>
                <a href="javascript:;" class="grade_zx zhiCustomBtn">在线咨询</a>
            </p>
        </div>
        <div class="clear"></div>

    </div>
    <div class="detailtophide">
        <!--暂时隐藏-->
        <div class="detailmid">
            <a href="javascript:;" class="detanavhead hov">课程介绍<i></i></a>
            <!--<a href="javascript:;" class="detanavhead">课程大纲<i></i></a>-->

            <div class="deta_Tr">
                <a href="javascript:;" class="grade_bm deta_bmbtn">立即报名</a><span class="pricetwo"></span>
            </div>
        </div>
    </div>
    <div class="detailbox">
        <div class="detailtop">
            <a href="javascript:;" class="detanav">课程介绍<i></i></a>
            <a href="javascript:;" class="detanav hov">暑期课程大纲<br>
                <p>(每天 19:00-20:00)</p><i></i>
            </a>
            <a href="javascript:;" class="detanav">秋季课程大纲<br>
                <p>(每周六 19:00-20:00)</p><i></i>
            </a>
        </div>
        <div class="detailbot hov botword">
            <div class="detailimg">
                <p class="detailp1">2018春季</p>
                <p class="detailp2">狸米数学报课指南</p>
                <i></i>
            </div>
            <h1>课程参数</h1>
            <div class="detailone">
                <p><span>适合地区</span>全国</p>
                <p class="course_count"><span>课程讲次</span></p>
                <p><span>学习形式</span>互动直播课堂+作业讲评+综合提高训练+直播回放</p>
            </div>
            <h1>全年学习计划</h1>
            <ul class="fourjj">
                <li class="fo_li1">
                    <p class="four_p1">暑</p>
                    <p class="four_p2">（6月-8月）</p>
                    <p class="four_p3">大纲讲次 <span>10讲</span></p>
                    <p class="four_p4">课程安排 连续上课</p>
                </li>
                <li class="fo_li2">
                    <p class="four_p1">秋</p>
                    <p class="four_p2">（9月-11月）</p>
                    <p class="four_p3">大纲讲次 <span>15讲</span></p>
                    <p class="four_p4">课程安排 每周一讲</p>
                </li>
                <li class="fo_li3">
                    <p class="four_p1">寒</p>
                    <p class="four_p2">（12月-2月）</p>
                    <p class="four_p3">大纲讲次 <span>7讲</span></p>
                    <p class="four_p4">课程安排 连续上课</p>
                </li>
                <li class="fo_li4">
                    <p class="four_p1">春</p>
                    <p class="four_p2">（3月-5月）</p>
                    <p class="four_p3">大纲讲次 <span>15讲</span></p>
                    <p class="four_p4">课程安排 每周一讲</p>
                </li>
            </ul>
            <div class="clear"></div>
            <h1>课程特色</h1>
            <ul class="detail_kcts">
                <li class="detborb">
                    <img src="../assets/ic_1@2x.png">
                    <p class="detborp1">网络直播授课</p>
                    <p>在家享受北京的优质教育资源</p>
                </li>
                <li class="detail_kcbd detborb">
                    <img src="../assets/ic_2@2x.png">
                    <p class="detborp1">生动有趣、实时互动的课堂</p>
                    <p>防止孩子上课走神分心</p>
                </li>
                <li class="detborb">
                    <img src="../assets/ic_3@2x.png">
                    <p class="detborp1">综合提高训练</p>
                    <p>帮助孩子学以致用，不断提高</p>
                </li>
                <li>
                    <img src="../assets/ic_4@2x.png">
                    <p class="detborp1">专业的班主任老师</p>
                    <p>私人家教陪伴式学习</p>
                </li>
                <li class="detail_kcbd">
                    <img src="../assets/ic_5@2x.png">
                    <p class="detborp1">作业一对一批改</p>
                    <p>帮助孩子及时查缺补漏</p>
                </li>
                <li>
                    <img src="../assets/ic_6@2x.png">
                    <p class="detborp1">无限次回放</p>
                    <p>错过直播照样学习</p>
                </li>
            </ul>
            <div class="clear"></div>
            <h1>课程保障</h1>
            <ul class="detail_kcbz">
                <li>
                    <img src="../assets/ic_pay@2x.png">
                    <p class="kcbzpt">不满意,随时退费</p>
                    <p>本课程上课过程中不满意可以随时退费。前三次课开课之前，可全额退费</p>
                </li>
                <li>
                    <img src="../assets/ic_video@2x.png">
                    <p class="kcbzpt">课程无限次回放</p>
                    <p>直播课程错过不用怕，课后可以无限次观看回放</p>
                </li>
                <li>
                    <img src="../assets/ic_hours@2x.png">
                    <p class="kcbzpt">班主任24小时陪伴</p>
                    <p>报名成功，班主任会第一时间联系到你，了解孩子目前学习情况及接下来的学习安排</p>
                </li>
                <li>
                    <img src="../assets/ic_repair@2x.png">
                    <p class="kcbzpt">上课设备技术支持</p>
                    <p>报名成功，请
                        <a href="download.html">立即下载</a>狸米课堂客户端或APP，我们的技术人员也会和您联系，帮你做好上课准备</p>
                </li>
                <div class="detakcbzbot">
                    <a href="javascript:void(0);" class="qqAlik" target="_blank">
                        <img src="../assets/ic_wechat@1x.png">
                        <p><span class="qqp2"><img src="../assets/wxtest1.jpg"/></span></p>
                    </a>
                    <img src="../assets/ic_phone@2x.png">
                    <p>客服电话<br/><span>010-84997885</span></p>
                </div>
            </ul>

        </div>
        <div class="clbox botword">
            <div class="cltop">
                <p>
                    <span class="view_li1">讲次</span>
                    <span class="view_li2">标题</span>
                    <span class="view_li3">上课时间</span>
                    <span class="view_li3">学习状态</span>
                </p>
            </div>
            <div class="clbot">

            </div>
        </div>

        <div class="clbox botword">
            <div class="cltop">
                <p>
                    <span class="view_li1">讲次</span>
                    <span class="view_li2">标题</span>
                    <span class="view_li3">上课时间</span>
                    <span class="view_li3">学习状态</span>
                </p>
            </div>
            <div class="clbot clbot2">

            </div>
        </div>
    </div>

</div>
<div class="clear"></div>
<%- include('../components/footer') %>
<script>
    $(document).ready(function () {
        $(".detanav").click(function () {
            var wordxq1 = $(".detailtop").offset().top - 70;
            var navnum = $(this).index();
            $(".detanav").eq(navnum).addClass("hov").siblings().removeClass("hov");
            switch (navnum) {
                case 0:
                    $(".detailbot").addClass("hov");
                    $(".clbox").eq(0).removeClass("hov");
                    $(".clbox").eq(1).removeClass("hov");
                    $(".detanavhead").html("课程介绍<i></i>")
                    break;
                case 1:
                    $(".detailbot").removeClass("hov");
                    $(".clbox").eq(0).addClass("hov");
                    $(".clbox").eq(1).removeClass("hov");
                    $(".detanavhead").html("课程大纲<i></i>")
                    break;
                case 2:
                    $(".detailbot").removeClass("hov");
                    $(".clbox").eq(0).removeClass("hov");
                    $(".clbox").eq(1).addClass("hov");
                    $(".detanavhead").html("课程大纲<i></i>")
                    break;
            }
//						$("html, body").animate({
//							scrollTop: wordxq1
//						}, 500, "swing");
        });
        //导航
        $(window).scroll(function () {
            var scroll_top = $(document).scrollTop();
            var wordxq1 = $(".detailtop").offset().top - 20;
            if (scroll_top >= wordxq1) {
//						$(".detanav").eq(2).addClass("hov").siblings().removeClass("hov");//04-24
                $("#header").css({
                    "width": "100%",
                    "background": "#3ab3b2",
                    "height": "76px",
                    "position": "fixed",
                    "top": "0",
                    "z-index": "1000"
                })
                $(".detailtophide").show()
            } else {
//						$(".detanav").eq(1).addClass("hov").siblings().removeClass("hov");//04-24
                $("#header").css({
                    "width": "100%",
                    "background": "#3ab3b2",
                    "height": "0",
                    "position": "relative",
                    "z-index": "1000"
                })
                $(".detailtophide").hide()
            }
        })

        $(".detanavhead").click(function () {
            var index = $(this).index() + 1;
            var wordxq1 = $(".detailtop").offset().top - 70;
            $("html, body").animate({
                scrollTop: wordxq1
            }, 500, "swing");
//					$(".detanav").eq(index-1).addClass("hov").siblings('.detanav').removeClass("hov")
//					$(".botword").eq(index-1).show().siblings('.botword').hide();
        })
    })
</script>
</body>
</html>
