<!DOCTYPE html>
<html lang="zh-CN">
<%- include('./components/header') %>
<body>
<%- include('./components/body-header') %>
<div class="cla_banner">
    <img src="../assets/banner@1x.jpg">
</div>
<div class="cla_title"></div>
<div class="cla_twobox">
    <ul class="cla_four">
        <li>
            <img src="../assets/banner1.jpg">
            <h1>保持课内优势</h1>
            <p>在提升学校成绩的基础上，开启孩子的数学潜能</p>
        </li>
        <li>
            <img src="../assets/banner2.jpg">
            <h1>领跑思维能力</h1>
            <p>科学培养数学思维能力，保持未来升学竞争优势</p>
        </li>
        <li>
            <img src="../assets/banner3.jpg">
            <h1>培养数学兴趣</h1>
            <p>不学偏难怪的数学，让孩子在“学会的成就感”中爱上数学</p>
        </li>
        <li>
            <img src="../assets/banner4.jpg">
            <h1>学会自主学习</h1>
            <p>除了知识和技能，更重要的是教给孩子“学会学习”</p>
        </li>
        <div class="clear"></div>
    </ul>
</div>
<div class="cla_bg cla_bgheight">
    <div class="de_kctsimg"><img src="../assets/icon_feature.png"></div>
    <div class="de_kctsname">狸米数学培优课程特色</div>
    <ul class="de_kctsul">
        <li class="de_ks1">
            <h1>生动有趣的课堂教学</h1>
            <div>
                <h2>生动有趣的课堂教学</h2>
                <p>互联网在线互动授课</p>
                <p>孩子学习兴趣大幅提升</p>
            </div>
        </li>
        <li class="de_ks2">
            <h1>清北名师授课</h1>
            <div>
                <h2>清北名师授课</h2>
                <p>多年在线教学经验</p>
                <p>专注教学以及考点研究</p>
            </div>
        </li>
        <li class="de_ks3">
            <h1>班主任全程陪伴</h1>
            <div>
                <h2>班主任全程陪伴</h2>
                <p>责任感爆棚的班主任在线答疑</p>
                <p>解决课后学习痛点</p>
            </div>
        </li>
        <li class="de_ks4">
            <h1>专业教学内容研发</h1>
            <div>
                <h2>专业教学内容研发</h2>
                <p>985/211高校毕业</p>
                <p>多年教学研究经验</p>
            </div>
        </li>
        <li class="de_ks5">
            <h1>减负增效省时省心</h1>
            <div>
                <h2>减负增效省时省心</h2>
                <p>家长不用辛苦接送孩子</p>
                <p>学费便宜节省经济成本</p>
            </div>
        </li>
        <li class="de_ks6">
            <h1>随时随地便捷上课</h1>
            <div>
                <h2>随时随地便捷上课</h2>
                <p>多终端学习平台覆盖</p>
                <p>免除线下机构路途奔波</p>
            </div>
        </li>
    </ul>
</div>
<div class="cla_mode">
    <h1 class="cla_modetit">科学组合的教学模式</h1>
    <p class="cla_modep">依托网络直播模式，享受北京优质教育资源</p>
    <ul class="cla_modeul">
        <li class="cla_modelibg1">
            <p class="cla_mbp1">1小时</p>
            <p class="cla_mbp2">一周一次</p>
            <p class="cla_mbpname">名师在线直播课</p>
        </li>
        <li class="cla_modelibg2">
            <p class="cla_mbp1">15分钟</p>
            <p class="cla_mbp2">一周一次</p>
            <p class="cla_mbpname">名师作业讲评</p>
        </li>
        <li class="cla_modelibg3">
            <p class="cla_mbp1">20分钟</p>
            <p class="cla_mbp2">一周五次</p>
            <p class="cla_mbpname">课后综合提高训练</p>
        </li>
    </ul>
</div>
<div class="cla_fet">
    <div class="cla_fettit">未来的自主学习模式</div>
    <div class="cla_fetbox">
        <div class="cla_fetli">
            <div class="cla_lileft">
                <img src="../assets/ic_1@1x.png">
                <p>通过平板或电脑自主学习</p>
            </div>
            <div class="cla_liright">
                <img src="../assets/ic_2@1x.png">
                <p>高效的学习方法，省时有效</p>
            </div>
        </div>
        <div class="cla_fetli cla_pat">
            <div class="cla_lileft">
                <img src="../assets/ic_3@1x.png">
                <p>专业训练孩子的学习习惯</p>
            </div>
            <div class="cla_liright">
                <img src="../assets/ic_4@1x.png">
                <p>通过网络获得最优质的学习资源</p>
            </div>
        </div>
    </div>
</div>
<div class="cla_bg">
    <div class="de_kctsimg"><img src="../assets/ic_course@1x.png"></div>
    <div class="de_kctsname">完整的课程体系</div>
    <p class="cla_bimg"><img src="../assets/last.png"></p>
</div>
<%- include('./components/footer') %>
</body>
</html>
