<!DOCTYPE html>
<html lang="zh-CN">
<%- include('./components/header') %>
<body>
<div class="contain">
    <!--<div id="header"></div>-->

    <div class="topbox">
        <div class="topmid">
            <div class="topleft">
                <a href="/index"><span class="toplogo"></span></a>狸米数学 </div>
            <span class="topRphone">服务热线：010-84997885</span>
        </div>
    </div>
    <div class="logminbg">
        <div class="quescoment">
            <p class="qstit">为什么密码是三个生肖图案？</p>

            <p class="qspw">成人软件中常见的密码组合是数字加字母，而狸米课堂的主要使用者是小学生，狸米研究孩子的记忆及兴趣特点后，特意将密码设计为中国传统文化中最具神秘色彩的十二生肖，既符合学生记忆特征，又生动有趣。</p>

        </div>

    </div>
</div>
</div>
<div class="clear"></div>
<%- include('./components/footer') %>
</body>
</html>
