<!DOCTYPE html>
<html lang="zh-CN">
<%- include('./components/header') %>
<body>
<div class="contain">
    <div class="topbox">
        <div class="topmid">
            <div class="topleft">
                <a href="/index"><span class="toplogo"></span></a>狸米数学 </div>
            <span class="topRphone">服务热线：010-84997885</span>
        </div>
    </div>
    <div class="logminbg">
        <div class="quescoment">
            <p class="qstit">狸米课堂如何下载？</p>
            <p class="qspw">Windows电脑下载方法：<br />在狸米数学官网www.limiedu.com，点击“软件下载”，选择“直播课软件”，选择“Windows电脑版”下载。</p>

            <p class="qspw">支持win7系统及以上电脑使用。</p>

            <p class="qspw"><br />苹果iPad版下载方法：<br />在App Store中搜索“狸米课堂”，点击获取安装即可。</p>

            <p class="qspw">支持iPad Pro及iPad Air。</p>


        </div>
    </div>
</div>
<div class="clear"></div>
<%- include('./components/footer') %>
</body>
</html>
