<!DOCTYPE html>
<html lang="zh-CN">
<%- include('../components/header') %>
<body>
<div class="contain">
    <%- include('../components/body-header') %>
    <div class="newbanner"><img src="../assets/bannbg.jpg"></div>
    <div class="newnavcom">
        <div class="midbox newnav">
            <p>选择年级：</p>
            <ul class="graul">
                <li data-id='2' class="titactive">新二年级</li>
                <li data-id='3'>新三年级</li>
                <li data-id='4'>新四年级</li>
                <li data-id='5'>新五年级</li>
                <li data-id='6'>新六年级</li>
                <li data-id='7'>新七年级</li>
            </ul>
        </div>
    </div>
    <div class="goodcom">
        <div class="midbox">
            <div class="goodlistul">

            </div>
            <!--<div class="goodli">
                <a href="">
                <div class="goodleft">
                    <p class="goodname">二年级数学暑假班</p>
                    <p class="goodtime"><span>时间</span><span>时间</span></p>
                    <p class="goodtime">共几讲</p>
                    <p class="teimg"><img src="../assets/01.png" /></p>
                    <p class="tename">姓名</p>
                </div>
                <div class="goodprice">
                    <span>￥</span>549
                </div>
                </a>
            </div>-->
        </div>
    </div>
    <div class="imgshow">
        <h1>双师定时直播模式 省时有趣不走神</h1>
        <h5>苹果iPad、电脑都能上课     错过直播，无限次观看课程回放</h5>
        <div class="midbox">
            <ul class="imgshowul">
                <li>
                    <img src="../assets/teimg1.png" />
                    <p class="imgshp1">主讲老师直播上课 </p>
                    <p class="imgshp2">针对性配套不同版本教材1-6年级</p>
                </li>
                <li>
                    <img src="../assets/teimg2.png" />
                    <p class="imgshp1">辅导老师全程督导学习 </p>
                    <p class="imgshp2">与教育部数学教育技术应用与创新研究中心联合研发</p>
                </li>
                <li>
                    <img src="../assets/teimg3.png" />
                    <p class="imgshp1">课后作业一对一批改 </p>
                    <p class="imgshp2">精品化制作，难题均配套视频讲解</p>
                </li>
                <li>
                    <img src="../assets/teimg4.png" />
                    <p class="imgshp1">随时看课程回放 </p>
                    <p class="imgshp2">可提供校本定制服务</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="teachercom">
        <div class="midbox">
            <p class="teachtop"><img src="../assets/ic_course@1x.png"></p>
            <p class="teachtitle">北大清华名校毕业主讲领衔</p>
            <p class="teachtwo">狸米名师主讲团为你保驾护航</p>
            <div class="teachthree">
                <div class="teachthli">
							<span class="teachyuan">
								<span>5</span>年<br />教龄
							</span>
                    <p>专注在线教学<br />平均教龄5年以上</p>
                </div>
                <div class="teachthli">
							<span class="teachyuan">
								<span>5000</span><br />小时
							</span>
                    <p>持续授课<br />平均授课时长5000小时以上</p>
                </div>
                <div class="teachthli">
							<span class="teachyuan">
								<span>20</span>万<br />人次
							</span>
                    <p>实战历练<br />累计学员用户达20万人次以上</p>
                </div>
            </div>
            <div class="teacherul">
                <div id="" class="tec-con">

                    <a class="arrow-left" href="#"></a>
                    <a class="arrow-right" href="#"></a>
                    <div class="swiper-container">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>张立</h2>
                                        <p>北京大学物理系博士</p>
                                    </div>
                                    <img src="../assets/te-zl.jpg" />
                                    <div class="tec_box2">
                                        <p>小学数学培训专家，4届希望杯金牌教练员。是早期进入教育培训行业的先驱者之一，中学时期在学科竞赛中多有建树。13岁时曾获物理竞赛山东省第一名并被选拔进入教育部直属全国高中理科试验班。16岁时保送进入北京大学物理学院，曾在京城知名培训机构担任重要学科负责人。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>王洋</h2>
                                        <p>北京大学毕业</p>
                                    </div>
                                    <img src="../assets/te-wy.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于北京大学，8年授课经验，教学风格深入浅出，生动幽默。累计已培养数千名优秀小学生，现为狸米教育小学高年级骨干主讲教师；同时担任狸米教育小学数学教学部负责人。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>褚子乔</h2>
                                        <p>清华大学毕业</p>
                                    </div>
                                    <img src="../assets/te-czq.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于清华大学，理学博士，8年教学经验。热爱教学，对学生热心负责，重视对学生学习兴趣的培养，教学风格幽默风趣，善于在课堂上引导孩子们自主思考，关心在意每一位学生的成长和进步。现为狸米教育小学高年级骨干主讲教师。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>周新生</h2>
                                        <p>北京大学毕业</p>
                                    </div>
                                    <img src="../assets/te-zxs.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于北京大学数学科学学院，在线教学经验丰富注重实例和练习，擅于让学生积极参与课堂并主动掌握学习思维和方法。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>陈肖宁</h2>
                                        <p>北京大学毕业</p>
                                    </div>
                                    <img src="../assets/te-cxn.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于北京大学，擅长启发式教学，注重与学生的互动，制造沉浸式的课堂氛围，使学生爱上数学，爱上学习。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>赵淼</h2>
                                        <p>北京师范大学毕业</p>
                                    </div>
                                    <img src="../assets/te-zm.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于北京师范大学，6年的小学数学教学教研经验，擅长启发式教学，培养学生独立思考的能力，课堂幽默有料，在北京所带的学生中90%都通过择校考入了重点实验班。现为狸米教育小学中低年级骨干主讲教师。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>张树霞</h2>
                                        <p>山东大学毕业</p>
                                    </div>
                                    <img src="../assets/te-zsx.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于山东大学。她喜欢小孩，热爱教育行业，大学期间就踏上讲台，成为了一名深受学生喜爱的数学老师。在一线任教5年，尤其擅长引导低年级小学生建立学习兴趣和习惯。现为狸米教育中低年级骨干主讲教师。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>王婷婷</h2>
                                        <p>人民大学毕业</p>
                                    </div>
                                    <img src="../assets/te-wtt.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于人民大学。讲课风格生动活泼，所带的学生大多数进入市、区重点校并进入实验班，被授予“迎春杯”、“华罗庚金杯”优秀教练员称号。有很强的亲和力，被评为最受学生欢迎、家长认可的婷婷老师。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>侯曼</h2>
                                        <p>中国人民大学毕业</p>
                                    </div>
                                    <img src="../assets/te-hm.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于中国人民大学，生于教育世家，5年小学数学授课经验，对小学奥数体系了如指掌。教过的学生都特别喜欢这个大姐姐老师，现为狸米教学小学中低年级骨干主讲教师。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>霍杏</h2>
                                        <p>西安交通大学毕业</p>
                                    </div>
                                    <img src="../assets/te-hx.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于西安交通大学，拥有多年一线教学经验。热爱教育，深谙儿童教育心理学，善于发现每位孩子的特点，因材施教。注重培养孩子的数学思维，启发孩子的学习兴趣。她认为我们不仅要教会孩子知识，更要教会孩子学习！</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tec_box">
                                    <div class="tec_box1">
                                        <h2>侯悦</h2>
                                        <p>南京大学毕业</p>
                                    </div>
                                    <img src="../assets/te-hy.jpg" />
                                    <div class="tec_box2">
                                        <p>毕业于南京大学，从小喜欢数学，在大学期间就进校进班为学生们讲课。她认真钻研每一道题，研究最适合学生的讲授方法。她热爱教育事业，注重培养学生的数学思维能力，帮助学生养成良好的学习习惯。</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="parentcom">
            <div class="parentbg">
                <div class="midbox">
                    <p class="pratitle">家长问题答疑</p>
                    <div class="partul">
                        <div class="partli">
                            <p class="parname">什么是双师定时直播模式？</p>
                            <p class="parword">答：双师是指主讲老师和班主任老师，主讲老师负责讲好课，班主任老师贴心督促学生学习，解决学生内心孤独和自制力差的问题。定时直播是指课程在既定安排的时间里，以直播形式进行学习。学生边听讲边作答互动题，与其他学生们一起学习、相互促进。<span><img src="../assets/shuan2.png"></span></p>
                        </div>
                        <div class="partli">
                            <p class="parname">班主任老师如何督促孩子学习？</p>
                            <p class="parword">答：课前：督促孩子按时上课，解决学员遇到的一些操作问题。课中：跟课督学，随堂总结重难点笔记，维持课堂秩序，调动学员积极性。课后：关注学生学习状况，敦促未出勤的学生听回放。了解学员学习需求，完善大家的上课体验。班主任老师还会建立班级微信群，学生要加入班级群，参加学习活动。<span><img src="../assets/shuan2.png"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <%- include('../components/footer') %>
</div>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        slidesPerView: 4,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: 2000,
        loop:true
    })
    $('.arrow-right').on('click', function(e) {
        e.preventDefault();
        mySwiper.swipeNext();
        mySwiper.startAutoplay();
    })
    $('.arrow-left').on('click', function(e) {
        e.preventDefault();
        mySwiper.swipePrev();
        mySwiper.startAutoplay();
    })
    $(".swiper-slide").on('mouseover',function() {
        mySwiper.stopAutoplay();
    })
    $(".swiper-slide").on('mouseout',function() {
        mySwiper.startAutoplay();
    })

</script>
<script>
    $(document).ready(function() {
        $(".graul li").on("click", function() {
            $(this).addClass("titactive").siblings().removeClass("titactive");
            var id = $(this).attr("data-id");
        })
    })
</script>
</body>
</html>
